# In development, copy this file to .env
# In production, these values should be set as ENV variables and stored outside of version control
SESSION_SECRET=1234567890
PG_DATABASE=postgres
PG_USERNAME=postgres
PG_PASSWORD=qwerty
PG_HOST=localhost
PG_PORT=5432
